
<h1>Authors</h1>
<%= link_to "New author", new_author_path %>
<br>
<br>
<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
    <hr>
  <% end %>
</div>

