
<h1>Requests</h1>
<%= link_to "New request", new_request_path %>
<br>
<br>
<div id="requests">
  <% @requests.each do |request| %>
    <%= render request %>
    <p>
      <%= link_to "Show this request", request %>
    </p>
    <hr>
  <% end %>
</div>

